#!name = 菜鸟
#!author = 怎么肥事
#!update = 2026-09-07

host, h-adashx.ut.cainiao.com, reject
host, admonitor-feedback.cn-hangzhou.log.aliyuncs.com, reject
host, cainiao-app-logs.cn-zhangjiakou.log.aliyuncs.com, reject
host, gm.mmstat.com, reject

^https:\/\/e2e-mtop\.cainiao\.com\/gw\/mtop\.cainiao\.app\.e2e\.engine\.page\.fetch\/1\.0 url jsonjq-response-body 'del(.data.data.data.operationList)'
^https:\/\/cn-acs\.m\.cainiao\.com\/gw\/mtop\.cainiao\.app\.e2e\.engine\.page\.fetch\/1\.0 url jsonjq-response-body 'del(.data.data.data.operationList)'

^https:\/\/netflow-mtop\.cainiao\.com\/gw\/mtop\.cainiao\.guoguo\.nbnetflow\.ads\.(show|mshow|index)\.cn\/1\.0 url reject-dict
^https:\/\/netflow-reply-mtop\.cainiao\.com\/gw\/mtop\.cainiao\.guoguo\.ads\.expose\.mreply\.cn\/1\.0 url reject-dict

hostname = e2e-mtop.cainiao.com, cn-acs.m.cainiao.com, netflow-mtop.cainiao.com, netflow-reply-mtop.cainiao.com, h-adashx.ut.cainiao.com, admonitor-feedback.cn-hangzhou.log.aliyuncs.com, cainiao-app-logs.cn-zhangjiakou.log.aliyuncs.com, gm.mmstat.com
